@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
    font-family: "Noto Sans KR", sans-serif;
    background: linear-gradient(rgb(240, 241, 247), rgb(221, 221, 231));
}

html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}


/* header */

header-wrapper {
    background: #333333;
    height: 60px;
    position: relative;
    padding: 0em 0em;
}

.logo-header-box {
    height: 60px;
    position: relative;
}

.logo-header-box a.logo h1 {
    position: relative;
    display: inline-block;
    margin: 8px 0 0 8px;
    font-weight: 700;
    font-size: 27px;
    vertical-align: middle;
}

.menu-header-box {
    position: relative;
    float: right;
}

.menu-header-box ul li {
    margin: 10px 0 0 0;
    display: inline-block;
    padding: 0 7px;
    line-height: 1;
}

.menu-header-box ul li a {
    font-weight: bold;
}


/* Banner */

#banner {
    overflow: hidden;
    padding: 7em 0em 5em 0em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../static/images/banner3.jpg");
    background-size: cover;
    text-align: center;
}

#banner .title {
    margin-bottom: 1em;
    text-transform: uppercase !important;
}

#banner .title .byline {
    color: #fff;
    font-size: 1.4em;
}

img.skku_longLogo {
    width: 170px;
    height: auto;
}

.major {
    font-size: 1.6em;
    font-weight: bold;
}


/* nav */

nav {
    background-color: #073c64;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1250px;
    justify-content: space-around;
}

div.nav-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #073c64;
}

.custom-card {
    border-radius: 2rem;
    width: 21rem;
    margin: 1rem;
    margin-bottom: 3.2rem !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.activator {
    cursor: pointer;
}

.custom-img {
    width: 80%;
    margin-top: 1rem;
    margin-left: 10%;
    border-radius: 5px;
    height: auto;
}

.custom-card-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.custom-card-action a {
    color: #073c64!important;
    margin-right: 0!important;
}


/* Main (Card) */

span.card-title.grey-text.text-darken-4 {
    font-weight: bold;
}


/* Paginator */

.paginator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    font-size: 1.6rem;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1rem;
}

.paginator a {
    font-size: 1.2rem;
    border-radius: .4rem;
    background-color: #073c64;
    padding: .6rem;
    padding-bottom: .9rem;
    color: white;
    box-shadow: 0 3px 8px 2px rgba(14, 15, 50, 0.3);
    transition: .1s;
}

.paginator a:first-child {
    border-top-left-radius: 1.7rem;
    border-bottom-left-radius: 1.7rem;
    padding-left: 1.1rem;
}

.paginator a:last-child {
    border-top-right-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
    padding-right: 1.1rem;
}

.paginator a:hover {
    margin-bottom: -0.5rem;
    box-shadow: none;
}


/* Drag */

::selection {
    background-color: black;
    color: #fff;
}


/* heart */

.heart {
    position: absolute;
    right: -20px;
    bottom: 45px;
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
    overflow: visible;
}

.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
}

p.activator {
    width: 95%;
}

@media (max-width: 890px) {
    .custom-card {
        width: 70%;
        margin-bottom: 2rem;
    }
    .custom-card img {
        height: auto;
        width: 75% !important;
        margin: 0px auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .custom-card-action {
        font-size: 1.7rem;
    }
    img.main_logo {
        width: 95%;
    }
    span.major {
        font-size: 1rem;
    }
    .heart {
        right: -5px;
    }
}

@media (min-width: 1100px) {
    .custom-card {
        width: 26rem;
    }
}

@media (max-width: 500px) {
    .custom-card {
        width: 90%;
    }
    div.custom-card-action {
        font-size: 1.4rem;
        bottom: 0;
    }
    .heart {
        bottom: 60px;
    }
}


/*footer*/

.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #073c64!important
}

.page-footer .footer-copyright {
    overflow: hidden;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.08);
}

.page-footer .row {
    margin-bottom: 0;
    padding-bottom: 20px;
}


/* Modal */

.popupDiv {
    top: 0px;
    position: absolute;
    background: white;
    width: 50%;
    height: 500px;
    padding: 10px;
    display: none;
    text-align: center;
    z-index: 2;
}

.popupDiv iframe {
    width: 80%;
    height: 400px;
}

.popupMask {
    position: fixed;
    width: 100%;
    height: 1000px;
    top: 0px;
    left: 0px;
    display: none;
    background-color: #000;
    opacity: 0.8;
}