<div id="banner">
  <div class="container">
    <div class="title">
      <img src="../../static/images/main_logo.png" class="main_logo" />
      <br />
      <span class="byline">SKKU Computer Education Union</span>
    </div>
    <div
      style="
        background-color: black;
        color: white;
        display: inline-block;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 1.2rem;
      "
    >
      Computer Education, Sungkyunkwan University
    </div>
  </div>
</div>
