<footer class="page-footer">
    <div class="container">
        <div class=row>
            <div class="col">
                <div class="footer-logo">
                    <img src="../../static/images/comedu_whiteLogo_transparent.png" width=150px;>
                </div>
            </div>
            <div class="col">
                <p class="white-text">(03063) 서울특별시 종로구 성균관로 25-2 성균관대학교 <br>사범대학 컴퓨터교육과</p>
                <div class="footer-copyright">
                    © 2020 성균관대학교 컴퓨터교육과 CMD
                </div>
            </div>
        </div>
    </div>
</footer>