<header>
  <div class="header-wrapper">
    <nav>
      <div class="nav-wrapper">
        <div style="display: flex; align-items: center">
          &nbsp;&nbsp;&nbsp;<img
            src="./static/skku_longLogo.png"
            class="skku_longLogo"
          />
          <span class="major">&nbsp;컴퓨터교육과</span>
        </div>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons right">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li><a href="../signin.html" title="SIGN IN">SIGN IN</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="../signin.html" title="SIGN IN">SIGN IN</a></li>
      <li><a href="#">2020</a></li>
    </ul>
  </div>
</header>
