<div class="nav">
    <nav>
        <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down">
                <li><a href=# style="font-size: 1.2em;">2020</a></li>
            </ul>
            <form action="{% url 'core:search' %}" method="GET">
            <div class="input-field inline" style="position:absolute; right:2rem; width:17rem; ">
                <i class="material-icons prefix">search</i>
                <input id="search" type="text" name="searchWord" value="{{searchWord}}" style="color:white">
                <label for="search" style="font-size:1.2rem; height:3rem; line-height:3.4rem">Search</label>
            </div>
            </form>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href=#>2020</a></li>
    </ul>
</div>