{% extends "base.html" %} 
{% block content %}

<div style="display: flex;justify-content: center;padding-top: 5rem;padding-bottom: 5rem;">
    <div id="container">
        {% if posts %}
            {% for post in posts %} {% include 'mixins/post_card.html' with post=post %} {% endfor %}
        {% elif q %}
            {{q}} (을)를 찾을 수 없습니다. 
        {% endif %}
    </div>
</div>
<script src="./static/js/handle-materialize.js"></script>
<script src="./static/js/handle-heart.js"></script>
{% endblock content %}
