{% extends "base.html" %}

{% block content %}
    <div style="display: flex; justify-content:center; padding-top:5rem; padding-bottom:5rem;">
        <div id="container">
            {% for post in posts  %}
                    {% include 'mixins/post_card.html' with post=post %}
            {% endfor %}
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const elems = document.querySelectorAll('.materialboxed');
            const options = {};
            const instances = M.Materialbox.init(elems, options);
        });
        document.addEventListener('DOMContentLoaded', function() {
            const elems = document.querySelectorAll('.sidenav');
            const options = {
                edge: "right"
            }
            const instances = M.Sidenav.init(elems, options);
        });
    </script>
{% endblock content %}