{% extends "base.html" %} {% block content %}
<div style="
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
  ">
    <div id="container">
        {% if posts %} {% for post in posts %} {% include 'mixins/post_card.html' with post=post %} {% endfor %} {% else %} 작성된 게시글이 없습니다. {% endif %}
    </div>
</div>
<div class="paginator">
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">prev</a> {% endif %}
    <span>
      {{page_obj.number}} <span style="color: rgb(100, 93, 145);">of {{page_obj.paginator.num_pages}}</span>
    </span> {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}"> next </a> {% endif %}
</div>
<script type="text/javascript" src="../static/js/handle-materialize.js"></script>
<script type="text/javascript" src="../static/js/handle-heart.js"></script>
<script type="text/javascript" src="../static/js/make-empty-input.js"></script>
<script type="text/javascript" src="../static/js/make-empty-input.js"></script>
{% endblock content %}