<div class="card custom-card">
  <div class="card-image">
    {% for photo in post.photos.all %}
    <img
      class="materialboxed"
      width="650"
      src="{{photo.file.url}}"
      alt="썸네일"
    />
    {% endfor %}
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4"
      >{{post.title}}</span
    >
    <p class="activator">{{post.description}}</p>
  </div>
  <div
    class="heart"
    onclick="{% if user.is_authenticated %}heartEffect(this);{% else %}swalLoginEffect();{% endif %}"
  ></div>
  <div class="card-action custom-card-action">
    <a href="#">Code</a>
    <a href="{{post.pub_url}}">URL</a>
    <a id="{{post.title}}" class="popupBtn" href="#modal-{{post.title}}"
      >발표 영상</a
    >
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"
      >{{post.title}}<i class="material-icons right">close</i></span
    >
    {% for photo in post.photos.all %}
    <img
      class="materialboxed custom-img"
      src="{{photo.file.url}}"
      width="650"
      alt="구체적사진"
    />
    {% endfor %}
    <p>{{post.description}}</p>
    <p>{{post.team_name}}</p>
    <p>{{post.team_member}}</p>
  </div>
</div>
<!-- Modal Contents -->
<div class="popupMask"></div>
<!-- Background -->
<div class="popUp-{{post.title}} popupDiv">
  <div class="popCloseBtn-{{post.title}}">닫기</div>
  <!-- 밑의 src의 embed/ 뒤에 유튜브 영상 v= 뒷부분에 있는거 넣기 -->
  <iframe
    width="560"
    height="315"
    src="https://youtube.com/embed/"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
